@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap');

.register {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.register label {
  font-size: 28px;
  text-align: left;
  display: block;
  margin: 5px 0;
}

.register label:hover {
  color: #972d29;
}

.register h2 {
  font-size: 35px;
  color: #f7b283;
  margin-bottom: 30px;
}

.register h2::selection, .register label::selection {
  color: #71d300;
}

.register input, .register textarea {
  width: 100%;
  padding: 6px 10px;
  border: 2px solid coral;
  box-sizing: border-box;
  display: block;
  font-family: 'Roboto';
  font-weight: bold;
  color: black;
  background-color: burlywood;
}

.register input:focus, .register textarea:focus {
  border: 2px dashed crimson;
  outline: none;
}

.register input:valid, .register textarea:valid {
  border: 2px solid #71d300;
}

.register button {
  background-color: coral;
  color: black;
  font-size: 28px;
  border: 2px solid darkred;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.register button:hover {
  background-color: darkred;
  color: whitesmoke;
  border: 2px solid coral;
}

.register button::selection {
  outline: transparent;
}