@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap');

.blogPreview {
  padding: 10px 16px;
  margin: 20px;
  border-bottom: 1px solid #fafafa;
}

.blogPreview:hover {
  box-shadow: 1px 3px 5px whitesmoke
}

.blogPreview h2 {
  font-size: 28px;
  color: #f7b283;
  margin-bottom: 8px;
}

.blogPreview a {
  text-decoration: none;
}

.blogPreview p {
  font-size: 21px;
  font-family: 'Roboto';
}

.articleList {
  font-size: 26px;
}