.blogPreview {
  padding: 10px 16px;
  margin: 20px;
  border-bottom: 1px solid #fafafa;
}

.blogPreview:hover {
  box-shadow: 1px 3px 5px whitesmoke
}

.blogPreview h2 {
  font-size: 20px;
  /* color: #b12d21; */
  color: #f7b283;
  margin-bottom: 8px;
}