.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #181a1b;
}

.navbarTitle {
  color: #f7b283;
}

.links {
  margin-left: auto;
}

.link {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.link:hover {
  color: #f7b283;
}