.navbar {
  font-size: 32px;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #181a1b;
}

.navbar a {
  text-decoration: none;
}

.navbar a::selection {
  color: #972d29;
}

.navbarTitle {
  color: #f7b283;
}

.links {
  margin-left: auto;
}

.links img {
  position: relative;
  top: 7px;
  width: 29px;
  height: 29px;
}

.links img::selection {
  outline: transparent;
}

.link {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.link:hover {
  color: #f7b283;
}

.navbar h1:hover {
  color: #972d29;
}

.navbar h1::selection {
  color: crimson;
}