@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap');

.login {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.login h1 {
  font-size: 35px;
  color: #f7b283;
  margin-bottom: 30px;
}

.login form label {
  font-size: 28px;
  text-align: left;
  display: block;
  margin: 5px 0;
}

.login p {
  text-align: center;
  font-size: 28px;
  margin-top: 70px;
}

.login form label:hover, .login p:hover{
  color: #972d29;
}

.login form label::selection, .login p::selection, .login h1::selection {
  color: #71d300;
}

.login input {
  width: 100%;
  padding: 6px 10px;
  border: 2px solid coral;
  box-sizing: border-box;
  display: block;
  font-family: 'Roboto';
  font-weight: bold;
  color: black;
  background-color: burlywood;
}

.login input:focus {
  border: 2px dashed crimson;
  outline: none;
}

.login input:valid {
  border: 2px solid #71d300;
}

.login button, .login a {
  display: block;
  margin: auto;
  width: 50%;
  background-color: coral;
  color: black;
  font-size: 28px;
  border: 2px solid darkred;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.login button:hover, .login a:hover {
  background-color: darkred;
  color: whitesmoke;
  border: 2px solid coral;
}

.login button::selection, .login a::selection {
  outline: transparent;
}